
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EVBattery</title>
    <link rel="stylesheet" href="static/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
    <nav>
        <a href="/"><h1>Vehicle Status</h1></a>
    </nav>


        <div id='batteryNav'>
            <form action="/predict" method = "POST">
                <br>Mode <select name="Mode">
                        <option value="Parking">P</option>
                        <option value="Driving">D</option>
                        </select></br>
                <br>Weather <select name="Weather">
                            <option value="normal">Normal</option>
                            <option value="cold">Cold</option>
                            <option value="hot">Hot</option>
                            </select></br>
                <br>Miles you have driven  0 <input type = "range" value="2000" name = "Miles" min="0" max="50000" class="slider" onchange="updateTextInput1(this.value);"/> 50000
                                              <input type="text" id="textInput1" value="">
                </br>
                <br>Battery percentage%   0 <input type = "range" value="50" name = "Battery" min="0" max="100" class="slider" onchange="updateTextInput2(this.value);"/> 100
                                            <input type="text" id="textInput2" value="">
                </br>
                <br><input type = "submit" value = "Predict" /></br>
            </form>
        </div>

        
    <script>function updateTextInput1(val1) {document.getElementById('textInput1').value=val1;}</script>
    <script>function updateTextInput2(val2) {document.getElementById('textInput2').value=val2;}</script>
    

</body>
</html>
