
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Creating Real-Time Prediction</title>
    <link rel="stylesheet" href="static/styles/predict.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
    <nav>
        <a><h1>Battery Status</h1></a>
    </nav>

    <div id="image">
            <br><img src="static/car.png" alt="EV">
    </div>
       
    <div id="data" >
        {%+ for s,t,m in data: %} 
            <script>
                $("#data").html("<br>Battery: {{s}} % </br>"
                    +"<br>Charging time: {{t}}</br>"
                    +"<br>Remaining {{m}}mi</br>")
            </script>
        {% endfor -%}
    </div>    


</div>
  </body>
</html>




